{% include 'header.html' %}

<div class="myBtnContainer">
  <a href="{% url 'create_books' %}" class="btn-link">
    <button class="btn">Добавить книгу</button>
  </a>
  <a href="/all_books_age/" class="btn-link active">Показать все</a>
  <a href="/children/" class="btn-link children">Книги для детей</a>
  <a href="/teenage/" class="btn-link teenage">Книги для подростков</a>
  <a href="/adults/" class="btn-link adults">Книги для взрослых</a>
</div>

<div class="book-list">
  {% for book in books %}
  <div class="book-item">
    <img src="{{ book.img.url }}" width="300" height="400" alt="Обложка книги">
    <h4>Название книги: {{ book.title }}</h4>
    <p>Автор книги: {{ book.author }}</p>
    <a href="{% url 'book_detail' book.pk %}">Подробнее</a>
  </div>
  {% endfor %}
</div>

{% include 'footer.html' %}
